<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
	<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
	<title>Heroku Support</title>
</head>
<body role="document">
	  <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Heroku Support</a>
        </div>
      </div>
    </nav>
    <br><br><br>
  <div class="container" role="main">
  <h1>{{user_email}}</h1>

  {% if survey_list %}
    {{ survey_list }}
  {% else %}
    No
  {% endif %}

DOn't drop
</div>

<script src="{% static "jquery-1.11.3.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</body>
