<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
	<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
	<title>Heroku Support</title>
</head>
<body role="document">
	  <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Heroku Support</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          {% if userInfo %}
            <li><a href="#">{{ userInfo.full_name }}</a></li>
            <li><a href="#">{{ userInfo.email }}</a></li>
          {% else %}
            <li><a href="#">{{ userInfo.userId }}</a></li>
          {% endif %}

          </ul>
        </div>
      </div>
    </nav>
    <br><br><br>
  <div class="container" role="main">
    <h1> My Performance </h1>
    {% if userInfo %}
      <h1>
    {% else %}
      <h1>{{ userId }}
    {% endif %}

    <!-- Charts -->
    <div class="row">
      <div class="col-sm-4">
        <h3>Tickets Closed:</h3>
        {% if ticketsInfo.count %}
            {{ticketsInfo.count}}
          {% else %}
            No recent tickets closed.
          {% endif %}
      </div>
      <div class="col-sm-4">
        <h3>Comments Posted:</h3> 
          {% if commentsInfo.count %}
            {{commentsInfo.count}}
          {% else %}
            No recent comments.
          {% endif %}
      </div>
      <div class="col-sm-4">
        <h3>Satisfaction:</h3>
        {% if surveyInfo.count %}
            {{surveyInfo.count}}
            <figure>
              {{surveyInfo.chart|safe}}
            </figure>
          {% else %}
            No recent survey responses.
          {% endif %}
      </div>
    </div>

  <h2>Surveys Received</h2>
  {% if surveyInfo.objList %}
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Ticket</th>
      <th>User</th>
      <th>Positive?</th>
      <th>Comments</th>
    </tr>
    </thead>
      {% for survey in surveyInfo.objList %}
      <tbody>
      <tr>
        <td>{{survey.ticket_id}}</td>
        <td>{{survey.client_id}}</td>
        {% if survey.support_score %}
          <td style="color:#00ff00">Yes</td>
        {% else %}
          <td style="color:#ff0000">No</td>
        {% endif %}
        </td>
        {% if survey.comments %}
        <td>{{ survey.comments }}</td>
        {% else %}
        <td>None</td>
        {% endif %}
      </tr>
      </tbody>
      {% endfor %}
  {% else %}
    No surveys to show.
  {% endif %}

    </table>
</div>
<br><br>

<script src="{% static "jquery-1.11.3.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</body>
